@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FlyBeer en Skynet</h1>
    <p> <strong> - Site officiel de fournisseur de bières de l'<a href="https://ensc.bordeaux-inp.fr/fr">ENSC</a> - La cirrhose ça ne s'attrape pas, ça se mérite !</strong ></p>    
</div>
<div class="container">
      <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="Beer1.jpg" alt="Carrousel slide 1" class="d-block w-100"  width="825" height="500">
          </div>
          <div class="carousel-item">
            <img src="Beer2.jpg" alt="Carrousel slide 2" class="d-block w-100"  width="952" height="500">
          </div>
          <div class="carousel-item">
            <img src="Beer3.jpg" alt="Carrousel slide 3" class="d-block w-100"  width="864" height="500">
          </div>
          <div class="carousel-item">
            <img src="Biere4.jpg" alt="Carrousel slide 3" class="d-block w-100"  width="674" height="500">
          </div>
          <div class="carousel-item">
            <img src="Biere6.jpg" alt="Carrousel slide 3" class="d-block w-100"  width="783" height="500">
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Suivant</span>
        </a>
      </div>
    </div>